{
            account = "G-4321-2281M70";
            addTime = "2017-07-27 12:06:07";
            address = "\U4e2d\U56fd\U9655\U897f\U7701\U897f\U5b89\U5e02\U96c1\U5854\U533a\U9526\U4e1a\U8def";
            cdid = 62;
            cid = 1db9366ecd17857b;
            content = "\U624b\U8098\U53d7\U4f24\U540e\U5dee\U4e0d\U591a2\U4e2a\U6708\U672a\U6253\U9ad8\U5c14\U592b\U7403\Uff0c\U56de\U6e29\U6062\U590d\U8bad\U7ec3\Uff0c\U5927\U5e05\U7b2c\U4e00\U6b21\U4e0b\U573a\Uff0c\U53d1\U6325\U4e0d\U9519\U3002";
            crId = 102;
            encourageList =             (
                                {
                    account = "G-4321-2281M70";
                    addTime = "2017-07-28 14:52:16";
                    fans = 0;
                    head = "http://114.215.192.125:8095/golf_operate/attachment/member/20170717/045fa078-e998-40f2-aa4f-5911679d41af.jpg";
                    identity = 0;
                    nick = "\U65b0\U52a0\U5761";
                },
                                {
                    account = "G-8888-8251M50";
                    addTime = "2017-07-28 09:11:09";
                    fans = 0;
                    head = "http://114.215.192.125:8095/golf_operate/attachment/file/20170329/b22b83bf-5ff8-465c-a003-ee92ca067a34.png";
                    identity = 1;
                    nick = Qwe;
                },
                                {
                    account = "G-4321-2281M61";
                    addTime = "2017-07-27 23:35:53";
                    fans = 0;
                    head = "http://192.168.2.152:8081/golf_operate/attachment/member/20170717/a8762aa3-2b38-46a5-826d-1633c51e37b5.png";
                    identity = 0;
                    nick = "\U9b4f\U5c0f\U6837";
                },
                                {
                    account = "G-0743-8351M27";
                    addTime = "2017-07-27 17:50:48";
                    fans = 0;
                    head = "http://114.215.192.125:8095/golf_operate/attachment/member/20170628/d49f8635-57d1-4bb1-a221-17e598b7059f.png";
                    identity = 0;
                    nick = "\U5c0f\U8dc3";
                },
                                {
                    account = "G-4321-2281M67";
                    addTime = "2017-07-27 17:43:12";
                    fans = 0;
                    head = "http://114.215.192.125:8095/golf_operate/attachment/member/20170628/58b6f185-2a22-404d-8c77-5d34caf880fb.png";
                    identity = 0;
                    nick = "\U5fae\U7455";
                }
            );
            encourageNum = 7;
            head = "http://114.215.192.125:8095/golf_operate/attachment/member/20170717/045fa078-e998-40f2-aa4f-5911679d41af.jpg";
            image = "http://114.215.192.125:8095/golf_operate/attachment/file/20170727/12350482-27b0-4210-9add-66ee05d3443b.jpg,http://114.215.192.125:8095/golf_operate/attachment/file/20170727/fe802004-08ec-48cc-ac52-61e03751ccd3.jpg,http://114.215.192.125:8095/golf_operate/attachment/file/20170727/ce3b80eb-31f9-442b-b1a9-d448382902d5.jpg,http://114.215.192.125:8095/golf_operate/attachment/file/20170727/44e77d96-5c61-4ba6-b2ab-d6df6ce81598.jpg";
            isEncourage = 1;
            nick = "\U65b0\U52a0\U5761";
            title = "\U7f8e\U56fd\U9ad8\U5c14\U592b\U7403\U540d\U4eba\U8d5b\U5728\U592a\U6d69\U6e56\U5c55\U5f00\U6bd4\U8d5b";
        }
